<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bookshelves - Book Bound</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
<link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap" rel="stylesheet">

<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<link rel="stylesheet" href="/css/header.css">

</head>

<body>

    <header>
        <a class="logo" href="/" style="text-decoration: none;">
            <img src="/images/book-icon.png" alt="BooksBound Logo">
            <span>Bookshelves</span>
        </a>

        <nav>
            <a href="/about">About Us</a>
            <a href="/contact">Contact</a>
        </nav>
        <div class="search-login">





<div class="icons">

    <% if (user && user.fullname) { %>
        <div class="header-icons">
            <a href="/wishlist">
                <i class="fa-solid fa-heart"></i>
            </a>
            <a href="/cart">
                <i class="fa-solid fa-cart-shopping"></i>
            </a>
        <a href="/userProfile" class="header-user">
            <span class="user-name"><%= user.fullname %></span>
        
            <div class="user-avatar">
                <% if (user.profileImage) { %>
                    <img src="<%= user.profileImage %>" alt="Profile">
                <% } else { %>
                    <span class="avatar-initial">
                        <%= user.fullname.charAt(0).toUpperCase() %>
                    </span>
                <% } %>
            </div>
        </a>
        
    </div>
    <% } else { %>

        <div class="auth-links">
            <!-- <a href="/signup" class="auth-btn ghost">Sign Up</a> -->
            <span class="login-text">You are not logged in</span>
            <a href="/login" class="auth-btn glow">Login</a>
        </div>
        
        

    <% } %>

</div>


        </div>
    </header>
