</div>

</div>
<script>
    function blockUser(id,page) {
        Swal.fire({
            title: "Block this user?",
            text: "The user will not be able to login.",
            icon: "warning",
            showCancelButton: true,
            confirmButtonColor: "#FF3B30",
            cancelButtonColor: "#aaa",
            confirmButtonText: "Yes, Block"
        }).then((result) => {
            if (result.isConfirmed) {
                window.location.href = `/admin/blockCustomer/?id=${id}&page=${page}`;
            }
        });
    }

    function unblockUser(id,page) {
        Swal.fire({
            title: "Unblock this user?",
            text: "The user will regain access.",
            icon: "info",
            showCancelButton: true,
            confirmButtonColor: "#34C759",
            cancelButtonColor: "#aaa",
            confirmButtonText: "Yes, Unblock"
        }).then((result) => {
            if (result.isConfirmed) {
                window.location.href = `/admin/unblockCustomer/?id=${id}&page=${page}`;
            }
        });
    }
</script>

</body>

</html>